BikeClientTestC/BikeClientTest/Connected Services/ServiceReference1/BikeService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="getContracts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getContractsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getContractsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="contract" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getStationsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="station" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getStationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStationInGivenCityCloseToUs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="latitude" type="xs:double" />
        <xs:element minOccurs="0" name="longitude" type="xs:double" />
        <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStationInGivenCityCloseToUsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getStationInGivenCityCloseToUsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>