ServerBike2/Connected Services/ServiceReference1/JCDecauxService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8090/MyService/JCDecauxService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServerProxy" />
  <xs:import schemaLocation="http://localhost:8090/MyService/JCDecauxService?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Device.Location" />
  <xs:element name="getContracts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getContractsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServerProxy" minOccurs="0" name="getContractsResult" nillable="true" type="q1:ArrayOfJCDContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="closestStationsOfAContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="contractName" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Device.Location" minOccurs="0" name="departure" nillable="true" type="q2:GeoCoordinate" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System.Device.Location" minOccurs="0" name="arrival" nillable="true" type="q3:GeoCoordinate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="closestStationsOfAContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServerProxy" minOccurs="0" name="closestStationsOfAContractResult" nillable="true" type="q4:ArrayOfStation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>